.flexParent{
    display: flex;
    border: 0.125rem solid black;
    margin: 0.5rem;
    height: 20rem;
    justify-content: space-around;
    align-items: center;
}

.flexChild {
    border: 0.125rem solid red;
    padding: 1rem;
}

.first {
    order: 2;
}
.second {
    order: -5;
}

.third {
    order: 2;
}